#gallery-buttons{


position:fixed;


right:18px;


top:110px;


display:flex;


flex-direction:column;


gap:12px;


z-index:50;


}



.gallery-button{


width:90px;


min-height:65px;


padding:8px;


border:none;


border-radius:14px;


background:

rgba(255,255,255,.82);


font-size:12px;


line-height:1.4;


cursor:pointer;


box-shadow:

0 6px 18px rgba(0,0,0,.12);


transition:.2s;


}


.gallery-button:hover{


transform:translateX(-8px);


}