/*
================================

CURA Interaction Hint

v0.1

================================
*/


#interaction-hint{


    position:fixed;


    left:50%;


    bottom:80px;


    transform:translateX(-50%);



    padding:

    14px 28px;



    border-radius:30px;



    background:

    rgba(0,0,0,.65);



    color:white;



    font-size:18px;



    letter-spacing:1px;



    backdrop-filter:blur(8px);



    opacity:0;



    pointer-events:none;



    transition:

    opacity .25s ease;



    z-index:100;


}




#interaction-hint.show{


    opacity:1;


}