body{

margin:0;

background:#F5F0E6;

font-family:
"Noto Sans TC",
sans-serif;

color:#252525;

}



.menu-header{

padding:60px;

text-align:center;

}



.menu-section{

padding:40px;

}



.pizza-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}



.pizza-card{


background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);


}



.pizza-card h2{

margin-top:0;

}



.explore-btn{


margin-top:20px;

padding:12px 25px;

border:none;

border-radius:20px;

background:#A9473A;

color:white;

cursor:pointer;

}

/* =========================
CURA Experience Panel
========================= */


.experience-panel{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:999;


opacity:0;

pointer-events:none;

transition:.3s;

overflow-y:auto;

padding:30px;

}



.experience-panel.active{


opacity:1;

pointer-events:auto;


}




.experience-container{

width:90%;

max-width:650px;

max-height:90vh;

overflow-y:auto;


background:#fff;

border-radius:25px;

padding:40px;

position:relative;

}


.experience-close{


position:absolute;

right:20px;

top:20px;

border:none;

background:none;

font-size:25px;

cursor:pointer;


}



.experience-body{


margin-top:30px;


}

#pizzaDetailRadar{

width:100% !important;

max-width:320px;

max-height:320px;

margin:20px auto;

display:block;

}