.selection-float-btn{


position:fixed;

right:30px;

bottom:30px;


width:60px;

height:60px;


border-radius:50%;


border:none;


background:#222;

color:white;


font-size:20px;


z-index:999;


}



.selection-panel{


position:fixed;


right:-420px;


top:0;


width:370px;


height:100vh;


background:white;


box-shadow:-10px 0 30px rgba(0,0,0,.2);


transition:.4s;


z-index:1000;


padding:30px;


}



.selection-panel.active{


right:0;


}



.selection-header{


display:flex;

justify-content:space-between;


}



.selection-card{


padding:15px;

margin-top:15px;


border-bottom:1px solid #ddd;


}



.selection-order-btn{


display:block;


margin-top:30px;


padding:15px;


background:#222;


color:white;


text-align:center;


}